@tailwind base;
@tailwind components;
@tailwind utilities;

div::-webkit-scrollbar{
    display: none;
}
:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    color:rgb(255, 255, 255);
    --primary-color:#09152b ;
    --bg-color:#063977 ;
    --sbg-color:#082751 ;
  }


